<div class = "row">
  
  <div class = "col-md-2" id="col1">

    <div class="btn-group" dropdown>

           <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Button dropdown <span class="caret"></span>
           </button>

        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"> <a class="dropdown-item" routerLinkActive = "active" routerLink ="Authentication" *ngIf="!log"> Connecter </a></li>
            <li role="menuitem"> <a class="dropdown-item" routerLinkActive = "active" routerLink ="all-students"*ngIf="log" >Liste Etudiant</a></li>
            <li role="menuitem"> <a class="dropdown-item" routerLinkActive = "active" routerLink ="addstudent"*ngIf="log" >Ajout Etudiant</a></li>
            <li role="menuitem"><a  class="dropdown-item"(click)="logout2()" *ngIf="log" routerLink ="Authentication"> Déconnecter</a> </li>
            <li role="menuitem"> <a class="dropdown-item" routerLinkActive = "active" *ngIf="log"> {{log }}</a> </li>
        </ul>

    </div>

  </div>

      <div class = "col-md-10">
        <router-outlet ></router-outlet> 
      </div >

  </div >

  


